# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle
gradle/
run/
run-data/

# other
eclipse
run

# Files from Forge MDK
forge*changelog.txt
forge-1.20.1-47.4.0-mdk.zip
LICENSE.txt
README.txt
CREDITS.txt
changelog.txt